.image{
    max-width: 670px;
    width: 100%;
    height: 636px;
}
.text-image{
    max-width: 600px;
    width: 100%;
    text-align: justify;
    
}

.box-size{
    width: 326px;
    height: 316px;
}
.divider-size{
    width: 60px;
    height: 2px;
}
@media (max-width: 1920px) {
    .row-height{
        height: 654px;
    }
}
@media (max-width: 767px) {
    .row-height{
        height: 1280px;
    }
}